.A {
    background-color: black; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 15px 32px; /* Some padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Make the button inline */
    font-size: 16px; /* Increase font size */
    margin: 4px 2px; /* Some margin */
    cursor: pointer; /* Pointer/hand icon */
    border-radius: 12px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth transition */
}
    

.B {
    background-color: black; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 15px 32px; /* Some padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Make the button inline */
    font-size: 16px; /* Increase font size */
    margin: 4px 2px; /* Some margin */
    cursor: pointer; /* Pointer/hand icon */
    border-radius: 12px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth transition */
    
}
.C {
    background-color: black; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 15px 32px; /* Some padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Make the button inline */
    font-size: 16px; /* Increase font size */
    margin: 4px 2px; /* Some margin */
    cursor: pointer; /* Pointer/hand icon */
    border-radius: 12px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth transition */
}
.poster {
    width: 100%;
    margin-top: 100px;
    
    
}
h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;

}
h2 {
    text-align: center;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
}
p {
    text-align: center;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
.image {
    width: 581px;
    border: 5px solid black;

    
}
hr {
    border: 3px solid black;
}
h3 {
    text-align: right;
    font-size: 20px;
}
.Image2 {
    width: 581px;
    border: 5px solid black;

}
.Image3 {
    width: 581px;
    border: 5px solid black;

}
.Image4 {
    width: 581px;
    border: 5px solid black;

}
.Image5 {
    width: 581px;
    border: 5px solid black;

}
footer {
    color: black;
    font-size: xx-large;
    font-weight: bold;
}
.vertical {
    text-align: right;
    
}
h4 {
    text-align: right;
    font-size: x-small;
    margin: 5px;
}
.a1 {
    color: black;
}
.div1 {
    text-align: right;
    
    background-color: gray;
}

